[tools]
go = "1.25.4"
golangci-lint = "v2.5.0"
helm = "4.0.0"
goreleaser = "2.12.7"
syft = "1.38.0"

[settings]
lockfile = true
auto_install = true
env_file = ".env"
experimental = true
task_output = "quiet"

[tasks.gogen]
description = "Runs go generate for all files"
run = "go generate ./..."

[tasks.test]
description = "Run tests"
run = "go test ./... -cover -race"

[tasks.lint]
description = "Lint golang and protobuf code"
run = [
  "golangci-lint run --config .golangci-lint.yml --fix",
  "diff schema.json internal/config/schema.json"
]

[tasks.build]
description = "Build a local binary"
run = "go build -trimpath -ldflags='-s -w' -o bin/vendor-plugin"

[tasks.release-snapshot]
description = "Build a snapshot release with goreleaser"
run = "goreleaser release --snapshot --clean"

[tasks.release-check]
description = "Check goreleaser configuration"
run = "goreleaser check"
