[tools]
go = "1.25.4"
golangci-lint = "v2.5.0"
helm = "4.0.4"
goreleaser = "2.12.7"
oras = "1.3.0"
trivy = "0.68.2"

[settings]
lockfile = true
auto_install = true
env_file = ".env"
experimental = true
task_output = "quiet"

[tasks.gogen]
description = "Runs go generate for all files"
run = "go generate ./..."

[tasks.secu-scan]
description = "Runs trivy security checks (vulnerability, secret leaks, miss-configs)"
run = "trivy fs . --scanners vuln,secret"

[tasks.test]
env = { "CGO_ENABLED" = "0" }
description = "Run tests"
run = "go test ./... -cover -race"

[tasks.lint]
description = "Lint golang and protobuf code"
run = [
    "golangci-lint run --config .golangci-lint.yml --fix",
    "diff schema.json internal/config/schema.json",
]

[tasks.build]
description = "Build a local binary"
run = "go build -trimpath -ldflags='-s -w' -o bin/vendor-plugin"

[tasks.release-snapshot]
description = "Build a snapshot release with goreleaser"
run = ["goreleaser release --snapshot --clean", "bash hack/helm-package.sh"]

[tasks.release-check]
description = "Check goreleaser configuration"
run = "goreleaser check"
